# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.myenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db